### General ###

# Log files
*.log

# macOS Finder artifacts
.DS_Store

### Python ###

# Virtual environments
.env/
env/
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
